.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		padding: 15px 10px;
		font-weight: 500;
		color: $color_menu_items;
		transition: all 400ms ease-in-out;

		&:hover {
			color: $color_primary;
			text-decoration: none;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color_primary;
	}

	.fa-bars {
		display: none;
		@media (max-width: 769px) {
			display: block;
			text-align: center;
			background-color: $color_primary;
			color: $color_white;
			width: 35px;
			height: 28px;
			line-height: 28px !important;
			border-radius: 3px;
			cursor: pointer;
			position: absolute;
			bottom: -12px;
		}
	}
}

/* Small menu. */
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 769px) {

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
