#menu-social {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        padding-top: 0;

        &::before {
          content: '\f408';
          display: inline-block;
          padding: 0 5px;
          font-family: 'FontAwesome';
          font-size: 25px;
          vertical-align: middle;
          -webkit-font-smoothing: antialiased;
          background-color: transparent;
          color: $color_social_icons;
          transition: all 400ms ease-in-out;
        }

        &[href*="facebook.com"]::before {
          content: '\f082';
        }

        &[href*="twitter.com"]::before {
          content: '\f099';
        }

        &[href*="plus.google.com"]::before {
          content: '\f0d4';
        }

        &[href*="pinterest.com"]::before {
          content: '\f0d3';
        }

        &[href*="youtube.com"]::before {
          content: '\f167';
        }

        &[href*="vimeo.com"]::before {
          content: '\f194';
        }

        &[href*="instagram.com"]::before {
          content: '\f16d';
        }

        &[href*="linkedin.com"]::before {
          content: '\f08c';
        }

        &[href*="rss.com"]::before {
          content: '\f143';
        }

        &[href*="dropbox.com"]::before {
          content: '\f16b';
        }

        &[href*="skype.com"]::before {
          content: '\f17e';
        }

        &[href*="wa.me"]::before {
          content: '\f17e';
        }

        &:hover[href*="facebook.com"]::before {
          color: #3b5998;
        }

        &:hover[href*="twitter.com"]::before {
          color: #33ccff;
        }

        &:hover[href*="instagram.com"]::before {
          color: #336699;
        }
        &:hover[href*="youtube.com"]::before {
          color: #c4302b;
        }
      }
    }
  }
}
