.top-header {
  border-bottom: 1px solid $color_light_grey;
}

header#masthead {
  border-bottom: 1px solid $color_light_grey;
  .site-branding {
    a {
      width: 150px;

      img.custom-logo {
        max-width: 140px;
        padding: 5px 0;
      }
    }
  }

  .login-block {
    .choma-button {
      background-color: $color_menu_items;
      font-weight: 400;
      border: none;
      transition: all 400ms ease-in-out;

      &:hover {
        background-color: $color_primary;
        cursor: pointer;
      }
    }
  }
}

#offcanvas-push {
  a.custom-logo-link {
    margin-top: 30px;
  }

  #menu-off-canvas-menu {
    li {
      a {
        &:hover {
          color: $color_primary;
        }
      }
    }
  }
}

